.main-layout-container {
  // max-width: 1300px;
  width: 100%;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
}

.inner-container {
  max-width: 1010px;
  justify-content: center;
  margin: 2rem auto;
}
